body, label, .checkbox label {
  font-weight: 300;
}

.component-categories
.component-category
.fa {
  display: block;
}

.component-categories .component-category a {
  text-decoration: none;
  color: inherit;
}
